p a h1 h2 h3 {
  color: var(--text-color);
}

.container {
  position: relative;
  padding: 15px 50px !important;
  box-sizing: content-box !important;
}

@media screen and (max-width: 768px){
  .container {
    padding: 15px 15px !important;
  }
}

.main-banner {
  margin-bottom: 100px;
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.main-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.main-banner img {
  width: 100%;
  height: auto;
  overflow: hidden !important;
  position: relative;
  display: block;
}

p:hover {
  transition: color 0.3s;
  color: var(--text-hover-color);
}

.no-hover{
  pointer-events: none;
}
