.contact-banner {
    background-image: url(backgrounds/bgContact.jpg);
    background-position: 90%;
}

.contact-content {
    display: flex;
    justify-content: space-between;
}

.contact-cards {
    width: 253px;
}

.card-section {
    margin-bottom: 50px;
}

.contact-cards h2 {
    font-family: var(--title-default-font);
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}

.lunes {
    font-family: var(--title-default-font) !important;
    font-size: 15px;
    font-weight: 800 !important;
}

.contact-cards p {
    font-family: var(--text-default-font);
    margin-bottom: 20px;
    font-size: 16px;
}

.no-margin {
    margin-bottom: 0 !important;
}

.plus-margin {
    margin-bottom: 40px !important;
}
.contact-container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    gap: 100px;
}

.social-networks ul {
    padding-left: 0 !important;
  }
  
  .social-networks ul li {
    list-style: none;
  }

  .networks {
    display: flex;
    gap: 20px;
  }
  
  .networks img:hover {
    animation: pulse 0.3s linear 1;
  }
  
  @keyframes pulse {
    25% {transform: scale(0.9);}
    75% {transform: scale(1.1);}
  }

  @media (max-width: 576px) {
    .contact-content {
        flex-direction: column;
    }
  }
  