/* Filters Section*/
.banner-shop {
  background-image: url(/backgrounds/backgroundShop.png) !important;
}

.banner-shop-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  top: 35%;
}

.banner-shop-text h1, p{
  text-transform: uppercase;
}

.banner-shop-text h1 {
  font-size: 97px;
  font-family: var(--title-default-font);
  color: var(--banner-text-color);
  font-weight: 500;
  margin-bottom: 11px;
}

.banner-shop-text p {
  font-size: 23px;
  font-family: var(--text-default-font);
  color: var(--banner-text-color);
  margin: 0;
}

.result-grid {
  display: flex;
  justify-content: space-between;
}

.filters-column {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.filters h3 {
  font-family: var(--title-default-font);
  margin-bottom: 20px;
  font-weight: 800;
}

.filters h2, p {
  color: var(--text-color);
  font-family: var(--text-default-font);
  font-size: 16px;
  margin-bottom: 0;
}

.filters p {
  margin-bottom: 5px;
}

.filters h2 {
  font-family: var(--title-default-font);
  font-weight: 800;
  margin-bottom: 20px;
}

.search-result {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Dropdown menu section */
.dropdown-button {
  display: flex;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 10px 20px;
  gap: 50px;
  background-color: #efefef;
}

.top-row p {
  text-transform: capitalize;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #efefef;
  border: 1px solid #000000;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 2px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.cards {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 225.6px); 
  width: 998px;
}

@media (max-width: 576px) {
  .banner-shop-text h1 {
    font-size: 40px;
  }
  .banner-shop-text p {
    font-size: 20px;
  }



  .cards {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .dropdown-menus{
    display: flex;
    flex-direction: row;
    gap: 90px !important;
  }

  .dropdown-button {
    gap: 10px;
  }

  .dropdown-content a {
    font-size: 18px;
  }  
}

@media (max-width: 768px) {
  .count-of-results {
    display: none;
  }

  .filters-column{
    display: none;
  }

  .dropdown-menus{
    display: flex;
    flex-direction: row;
    gap: 320px;
  }

  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    width: auto;
  }


}

@media (min-width: 1024px) {
  .filters-dropdown {
    display: none;
  }

  .cards {
    grid-template-columns: repeat(3, 225.6px); 
    width: auto;
  }
}

@media (min-width: 1200px) {
  .cards {
    grid-template-columns: repeat(4, 225.6px); 
    width: auto;
  }
}