/* Filters Section*/
.bannerShop {
  background-image: url(/backgrounds/backgroundShop.png) !important;
}

@media screen and (max-width: 576px) {

  .resultGrid {
    padding: auto;
  }

  .filtersColumn {
    .filters {
      display: none;
    }
  }

.cards {
  width: fit-content !important; 
}
  .searchResult {
    .cards {
      grid-template-columns: none;
    }
    .dropdown {
      display: none;
    }
  }
  

}

@media screen and (min-width: 1200px) {

  .searchResult {
    .cards {
      grid-template-columns: repeat(4, 225.6px) !important; 
      width: 998px;
    }
  }
}

.filters {
  margin-bottom: 50px;
  line-height: 1.2em;
}

.filters > h3 {
  font-family: "Playfair Display", Sans-serif;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 800;
}

.filters > h2 {
  font-family: "Playfair Display", Sans-serif;
  font-size: 16px;
  font-weight: 800;
}

.filters > p {
  font-family: "Fira Sans", sans-serif;
  cursor: pointer;
}

.filters > p:hover {
  color: #d1bfb5;
}

.filtersColumn {
  text-transform: uppercase;
}

.categoryFilter {
  margin-bottom: 50px;
}


/* topRow Section */

.topRow {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.topRow > p {
  pointer-events: none;
}

.dropdownButton {
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 10px 20px;
  gap: 50px;
  background-color: #efefef;
}

.dropdownButton > p {
  margin: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #efefef;
  border: 1px solid #000000;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 2px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* results Section */

.searchResult {
  flex-direction: column;
}

.cards {
  display: grid;
 
  gap: 30px;

}
